# 界面
matplotlib>=3.9.2
pyqt5>=5.15.11
qtawesome>=1.3.1

# 通信
pyyaml>=6.0.1
psutil>=5.9.8
websockets>=12.0

# 设备
bleak>=1.1.0
pyserial>=3.5
tobii-python>=0.1.1

# 音视频处理
opencv-python>=4.10.0
pyaudio>=0.2.14

# 数据库
pymysql>=1.1.1

# 脑电推理
joblib>=1.4.2
pandas>=2.2.2
numpy>=1.26.4

# 疲劳推理
mediapipe>=0.10.21
scikit-learn>=1.2.2

# # 机器学习（建议手动安装）
# # pip install --index-url https://download.pytorch.org/whl/cu118 torch==2.3.1+cu118 torchvision==0.18.1+cu118 torchaudio==2.3.1+cu118 --extra-index-url https://pypi.org/simple
# torch==2.3.1+cu118
# torchaudio==2.3.1+cu118
# torchvision==0.18.1+cu118
# onnxruntime==1.18.1

# # 语音识别（已弃用）
# faster-whisper>=0.10.0
# pyttsx3>=2.90
# opencc>=1.1.7
